
venv/

# Python cache
__pycache__/
*.py[cod]

# Django migration and cache folders
waste_management/waste/migrations/__pycache__/
waste_management/waste/__pycache__/
waste_management/waste_management/__pycache__/